# Copied and adapted from
# https://raw.githubusercontent.com/hashhar/picard-beets-config/master/beets/config.yaml
#
# Reference:
# https://beets.readthedocs.io/en/stable/reference/config.html

library: /media/storage-new/beets/library.db
directory: /mnt/pluto/music

ui:
  color: yes

import:
  log: /media/storage-new/beets/beets-importer.log
  write: yes
  copy: yes
  move: no
  resume: ask
  from_scratch: yes
  incremental: yes
  incremental_skip_later: yes
  timid: no
  autotag: yes
  group_albums: no
  bell: no

per_disc_numbering: yes
threaded: yes

aunique:
  keys: albumartist album
  disambiguators: albumtype year label catalognum albumdisambig releasegroupdisambig
  bracket: '[]'

paths:
  default: $albumartist/$album%aunique{}/%if{$multidisc,Disc $disc/}$track $title
  albumtype:soundtrack: Soundtracks/$album [$year]/%if{$multidisc,Disc $disc/}$track $title
  comp: Compilations/$album%aunique{}/%if{$multidisc,Disc $disc/}$track $title
  singleton: Non-Album/$artist/$title

# https://beets.readthedocs.io/en/stable/plugins/index.html
plugins:
  - musicbrainz
  - inline
  - replaygain
  - scrub
  - convert

replaygain:
  auto: yes
  backend: ffmpeg
  overwrite: yes

scrub:
  auto: yes

convert:
  auto: yes
  copy_album_art: no
  embed: no
  never_convert_lossy_files: yes
  format: mp3

item_fields:
    multidisc: 1 if disctotal > 1 else 0
