# https://github.com/nix-community/nix-direnv/blob/4e633c004ec2d1da2a2b43381f4a13b1e63768f7/templates/flake/.envrc

if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi
use flake
