<settings>
    <setting id="kodion.access_token" value="ya29.Gl3IBZ4Li1Dr4ZQeo3o2bmr-xcETkfY5C3LKWqtNBMcJohEwyN6fi2dcAgug_J17PI4EB2R6eKzgtZ4kHg6skA3dYe5jPNdOz4XJ-dFNY45_RgS-XDNmr2fXiq-9m2U|ya29.Gl3IBcpLxcLHwdFNvfNA6UL-PSptqlc09AY2dmb8hDxVEMXWXUvp3jS49WON7eg8E8wXUHXJDElYbqJh0PaS1nv2eBGJ3SdURctTr8P6s01BG5SXWcXGBP5a4roau18" />
    <setting id="kodion.access_token.expires" value="1527420513" />
    <setting id="kodion.age.gate" value="true" />
    <setting id="kodion.audio_only" value="false" />
    <setting id="kodion.cache.size" value="5" />
    <setting id="kodion.content.max_per_page" value="9" />
    <setting id="kodion.fanart.show" value="true" />
    <setting id="kodion.login.hash" value="d41d8cd98f00b204e9800998ecf8427e" />
    <setting id="kodion.login.password" value="" />
    <setting id="kodion.login.username" value="" />
    <setting id="kodion.maintain.clear.func" value="" />
    <setting id="kodion.maintain.clear.search" value="" />
    <setting id="kodion.maintain.delete.func" value="" />
    <setting id="kodion.maintain.delete.search" value="" />
    <setting id="kodion.maintain.delete.settings" value="" />
    <setting id="kodion.maintain.reset.accessmanager" value="" />
    <setting id="kodion.mpd.proxy" value="false" />
    <setting id="kodion.mpd.proxy.port" value="50152" />
    <setting id="kodion.refresh_token" value="1/Ti5RItAjnw1K2VY92lYriSxFG8DdjmsLiRy6cX0-UPI|1/EnZ2k94xkeJeA7OcWsi2VIwzLO8v-gqjhW8D9GDRAeo" />
    <setting id="kodion.safe.search" value="0" />
    <setting id="kodion.search.size" value="10" />
    <setting id="kodion.setup_wizard" value="false" />
    <setting id="kodion.subtitle.configure" value="" />
    <setting id="kodion.subtitle.language" value="0" />
    <setting id="kodion.subtitle.languages" value="0" />
    <setting id="kodion.subtitle.languages.num" value="" />
    <setting id="kodion.support.alternative_player" value="false" />
    <setting id="kodion.thumbnail.size" value="1" />
    <setting id="kodion.video.quality" value="3" />
    <setting id="kodion.video.quality.ask" value="false" />
    <setting id="kodion.video.quality.mpd" value="true" />
    <setting id="kodion.video.quality.mpd.configure" value="" />
    <setting id="kodion.video.support.mpd.addon" value="true" />
    <setting id="kodion.video.support.mpd.builtin" value="false" />
    <setting id="simple.requests.ssl.verify" value="true" />
    <setting id="youtube.allow.dev.keys" value="true" />
    <setting id="youtube.api.enable" value="false" />
    <setting id="youtube.api.id" value="" />
    <setting id="youtube.api.key" value="" />
    <setting id="youtube.api.key.switch" value="1" />
    <setting id="youtube.api.key.switch.use" value="1" />
    <setting id="youtube.api.last.hash" value="c38cb067db772fa556599e5fe850df43" />
    <setting id="youtube.api.last.switch" value="1" />
    <setting id="youtube.api.secret" value="" />
    <setting id="youtube.channel.fanart.show" value="true" />
    <setting id="youtube.filter.my_subscriptions_filtered.blacklist" value="false" />
    <setting id="youtube.filter.my_subscriptions_filtered.list" value="" />
    <setting id="youtube.folder.browse_channels.show" value="true" />
    <setting id="youtube.folder.disliked_videos.show" value="true" />
    <setting id="youtube.folder.history.playlist" value="" />
    <setting id="youtube.folder.history.show" value="true" />
    <setting id="youtube.folder.liked_videos.show" value="true" />
    <setting id="youtube.folder.live.show" value="true" />
    <setting id="youtube.folder.my_channel.show" value="true" />
    <setting id="youtube.folder.my_subscriptions.show" value="true" />
    <setting id="youtube.folder.my_subscriptions_filtered.show" value="false" />
    <setting id="youtube.folder.playlists.show" value="true" />
    <setting id="youtube.folder.popular_right_now.show" value="true" />
    <setting id="youtube.folder.quick_search.show" value="false" />
    <setting id="youtube.folder.quick_search_incognito.show" value="false" />
    <setting id="youtube.folder.recommendations.show" value="true" />
    <setting id="youtube.folder.saved.playlists.show" value="true" />
    <setting id="youtube.folder.search.show" value="true" />
    <setting id="youtube.folder.settings.show" value="true" />
    <setting id="youtube.folder.sign.in.show" value="true" />
    <setting id="youtube.folder.sign.out.show" value="true" />
    <setting id="youtube.folder.subscriptions.show" value="true" />
    <setting id="youtube.folder.watch_later.playlist" value="" />
    <setting id="youtube.folder.watch_later.show" value="true" />
    <setting id="youtube.get.watch_later.playlist.id" value="" />
    <setting id="youtube.language" value="en-US" />
    <setting id="youtube.login.version" value="17" />
    <setting id="youtube.playlist.watchlater.autoremove" value="true" />
    <setting id="youtube.region" value="US" />
    <setting id="youtube.suggested_videos" value="false" />
    <setting id="youtube.view.description.show_channel_name" value="true" />
</settings>
