/* Setup
 *
 * Create a 'chrome' directory in your profile and link to this file
 * cd ~/.mozilla/firefox/<profile>
 * mkdir chrome
 * cd chrome
 * ln -s ~/.config/userChrome.css
 *
 * about:config -> toolkit.legacyUserProfileCustomizations.stylesheets = true
 * */


/*  Remove top tabbar
 *  https://github.com/mbnuqw/sidebery/wiki/Firefox-Styles-Snippets-(via-userChrome.css)
 *  https://unicode-explorer.com/c/200B -> "Copy to the clipboard"
 *  Sidebery settings > Help > Preface value > paste the copied value
 *  */

#main-window #titlebar {
  overflow: hidden;
  transition: height 0.1s 0.1s !important;
}
/* Default state: Set initial height to enable animation */
#main-window #titlebar { height: 3em !important; }
#main-window[uidensity="touch"] #titlebar { height: 3.35em !important; }
#main-window[uidensity="compact"] #titlebar { height: 2.7em !important; }
/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="​"] #titlebar { height: 0 !important; }
/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*="​"] #tabbrowser-tabs { z-index: 0 !important; }
